/* src/style.css */
body {
  background-color: #505050;
  color: white;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  background-color: rgba(255,255,255,0.1);
  max-width: 600px;
  border-radius: 10px;
  padding: 10px 30px;
}

h2 {
  color: #e8a4f0;
  background-color: rgba(255,255,255,0.1);
  border-radius: 5px;
  padding: 10px;
}

button {
  background-color: #9d1fae;
  border: 0 none;
  padding: 10px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px
}