/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 24px;
  /* margin: 25px; */
  margin: 3%;
}

article {

}

h1 {
  font-size: 40px;
}

h2 {
  font-size: x-large;
}

img {
  max-width: 100%;
}

main {

}

section {

}
 
figure {
  margin: 0;
  padding-bottom: 30px;
}

figcaption {
  font-size: .8em;
}

@media screen and (min-width: 851px) {
  body {
    background-color: lightblue;
    font-size: xx-large;
    margin: 3%;
  }
 
  h1 {
    font-size: xxx-large;
  }
  
  h2 {
    font-size: xx-large;
    }

  figure {
    margin: 0;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  figure img {
    width: 350px;
  }

  section {
    /* border: solid 1px red; */
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-color: #ccc;
    font-size: xxx-large;
    margin: 5%;
    line-height: 1.4;
    max-width: 80%;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 54px;
    padding-top: 15px;
  }

  section {
    display: flex;
    justify-content: space-around;
  }
}