body {
    font-size: 16px;
  }

  h1 {
    font-family: sans-serif;
  }

  p {
    /* font-weight: tem como propriedade define caracteres grossos ou finos */
    font-weight: 600;
    font-size: 2em;
    text-align: center;
  }

  ul li {
    font-size: 24px;
    line-height: 45px;
  }

  #color-cinza {
    color: grey;
  }

  #color-vermelho {
    color: red;
  }

  #color-azul {
    color: blue;
  }